*{
    margin: 0px;
    padding: 0px;
}
ul li{list-style: none;}
header{
    width: 1200px;
    margin: 0px auto;
}
#logo{
    float: left;
}
#login{
    text-align: right;
    float:right;
    position: relative;
    top: 100px;
}
#login a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: blue;
    margin-right: 5px;
    border-right: 1px solid black;
    padding-right: 7px;
}
div#login a.last {
    border-right: none;
    padding-right: 0;
}
header div#login a:hover{
    color:#900;
}
nav{
    clear: both;
    width: 1200px;
    background-color: rgb(158, 235, 174);
    height: 20px;
    border: solid 1px black;
    margin: 0px auto;
}
nav div#subnav{
    float: right;
}

div #gnav ul{
    background-color: blueviolet;
    border: 1px solid #000;
    height: 22px;
    padding: 12px 0;
    float: left;
}
div#gnav ul li {
    border-right: solid 1px black;
    display: inline;
    padding: 0 10px;
}
div#gnav ul li a{
    color: rgb(214, 75, 19);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
div#gnav ul li.last {
    border-right: none;
    padding-right: 0;
}


div#gnav ul li a:hover{
    border-bottom:5px solid #206AB5;
}
div#body{
    width: 1200px;
    margin: 0px auto;
    background-color:rgb(228, 228, 165);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
article{
    display: table-row;
}
aside#left, aside#right, section{
    display: table-cell;
    vertical-align: top;
}
aside#left{
    width: 240px;
    border: 1px solid rgb(72, 178, 236);
    border-radius: 4px;
}
section{
    width: 750px;
    padding: 0px 8px;
}
aside#right{
    width: 200px;
}
